@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

.doc--container{
    display: flex;
}

.doc--core{
    border: 1px solid rgb(209, 192, 144);
    background-color: rgb(255, 255, 255);
    padding: 3%;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.6;
    color: #202224;
    white-space: pre-wrap;
}

.doc--core h1{
    border-bottom: 1px solid lightgray;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}

.doc--core h2{
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid lightgray;
}

.doc--core sup{
    font-size: 11.5px;
}

.active{
    background: rgb(223, 218, 203);
}

.doc--head{
    margin-bottom: 15px;
}

.doc--intro{
    display: flex;
}

.doc--section{
    display: flex;
}

.doc--section--text{
    display: flex;
    flex-direction: column;
}

.media{
    border: 1px solid lightgray;
    height: max-content;
    width: max-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 5px;
}

.media img{
    border-bottom: 1px solid lightgray;
}

.doc--contents{
    padding: 10px;
    border: 1px solid lightgray;
}
.doc--contents h3{
    border-bottom: 1px solid lightgray;
}

.doc--contents li{
    list-style: none;
}

.ref-ol{
    font-size: 12.5px;
    margin-top: 5px;

    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.ref-ol li{
    margin-right: 3px;
    padding: 3px;
    list-style: none;
}