.container{
  display: flex;
}

.core{
  border-left: 1px solid #1d5bcd;
  border-top: 1px solid #1d5bcd;
  width: 100%;
  padding: 3%;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.6;
  color: #202224;
  white-space: pre-wrap;
}